body {
    background-color: lightgray;
}
.center{
    text-align: center;
}
.row{
    padding:0;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 0;
    margin-right:0;
}

.btn{
    width:100px;
}

h4{
    background-color: #FFFFFF;
}

