{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<section>
<div class="container">

    <div class="row">
        <div class="col-md-12 center"> <h1>{{ title }}</h1></div>
    </div>

    <hr>
    <div class="row">
            <div class="col-md-6 center"><a class="btn btn-outline-success btn-sm" href="{{ path('app_working_time')}}">Working Times</a></div>
            <div class="col-md-6 center"><a class="btn btn-outline-danger btn-sm" href="{{ path('app_project')}}">Projekte</a></div>
        </div>

</div>

</section>
{% endblock %}
